## Load DataSets

In [104]:
import pickle
import pandas as pd
import numpy as np
from datetime import datetime

In [101]:
# Import weather data - Quillayute

with open('quillayute_weather.pickle','rb') as read_file:
   local_weather = pickle.load(read_file)

#now, convert the weather data to a dataframe, add column headers, and convert date string to datetime
local_weather = pd.DataFrame(local_weather,columns=['timestamp','Quil_Temp-Max','Quil_Temp-Min','Quil_Temp-Avg','Quil_Departure','Quil_HDD','Quil_CDD'
                                              ,'Quil_Precipitation','Quil_New_Snow','Quil_Snow_Depth'])

local_weather.head()

,timestamp,Quil_Temp-Max,Quil_Temp-Min,Quil_Temp-Avg,Quil_Departure,Quil_HDD,Quil_CDD,Quil_Precipitation,Quil_New_Snow,Quil_Snow_Depth
0,2015-01-01,45,22,33.5,-7.1,31,0,0.00,0.0,0
1,2015-01-02,48,26,37.0,-3.7,28,0,0.39,0.0,0
2,2015-01-03,43,32,37.5,-3.2,27,0,0.06,0.0,0
3,2015-01-04,53,39,46.0,5.2,19,0,4.99,0.0,0
4,2015-01-05,53,51,52.0,11.1,13,0,1.57,0.0,0

In [100]:
# Import weather data - Seattle 
with open('weather.pickle','rb') as read_file:
   seattle_weather = pickle.load(read_file)

#now, convert the weather data to a dataframe, add column headers, and convert date string to datetime
seattle_weather = pd.DataFrame(seattle_weather,columns=['timestamp','Sea_Temp-Max','Sea_Temp-Min','Sea_Temp-Avg','Sea_Departure','Sea_HDD','Sea_CDD'
                                              ,'Sea_Precipitation','Sea_New_Snow','Sea_Snow_Depth'])

seattle_weather.head()

,timestamp,Sea_Temp-Max,Sea_Temp-Min,Sea_Temp-Avg,Sea_Departure,Sea_HDD,Sea_CDD,Sea_Precipitation,Sea_New_Snow,Sea_Snow_Depth
0,2015-01-01,42,26,34.0,-6.8,31,0,0.00,0.0,0
1,2015-01-02,42,32,37.0,-3.9,28,0,0.06,0.0,0
2,2015-01-03,41,35,38.0,-3.0,27,0,T,0.0,0
3,2015-01-04,51,38,44.5,3.4,20,0,0.40,0.0,0
4,2015-01-05,54,49,51.5,10.3,13,0,0.32,0.0,0

In [56]:
seattle_weather['Date'][0]

'2015-01-01'

In [91]:
# Import trail data
with open('mora_trails.pickle', 'rb') as read_file:
    df = pickle.load(read_file)
    
df.head()

,num_reports,rating,report_date,trail_condition,trail_name,url,url_id
0,16.0,0.00 out of 5,"Jul 27, 2018",\n trail conditions\n,Chilean Memorial,https://www.wta.org/go-hiking/trip-reports/tri...,2018-07-30.1427497356
1,16.0,0.00 out of 5,"Jul 13, 2018",\n trail conditions\n,Chilean Memorial,https://www.wta.org/go-hiking/trip-reports/tri...,2018-07-16.2651744039
2,16.0,0.00 out of 5,"Apr 25, 2018",\n trail conditions\n,Chilean Memorial,https://www.wta.org/go-hiking/trip-reports/tri...,2018-05-14.6987536999
3,16.0,0.00 out of 5,"Jul 22, 2017",,Chilean Memorial,https://www.wta.org/go-hiking/trip-reports/tri...,2017-07-31.8350128985
4,16.0,0.00 out of 5,"Jul 21, 2017",\n trail conditions\n,Chilean Memorial,https://www.wta.org/go-hiking/trip-reports/tri...,2017-07-24.2695819350

## Merge Weather DataSets into Trails DataSet

### Convert timestamp on trails into weather data format. 
2015-01-01
Year - Month - Day (string)

In [92]:
df['year'] = df['report_date'].apply(lambda report_date: report_date[-4:])

In [93]:
df['day'] = df['report_date'].apply(lambda report_date: report_date[-8:-6])

In [94]:
df['month'] = df['report_date'].apply(lambda report_date: report_date[:3])

months_dict = {'Jan':'01', 'Feb':'02', 'Mar':'03', 
               'Apr':'04', 'May':'05', 'Jun':'06',
               'Jul':'07', 'Aug':'08', 'Sep':'09',
               'Oct':'10', 'Nov':'11', 'Dec':'12'}

df['month']= df['month'].map(months_dict)

In [97]:
df['timestamp'] = df['year'] + '-' + df['month'] + '-' + df['day']
df.head()

,num_reports,rating,report_date,trail_condition,trail_name,url,url_id,year,day,month,timestamp
0,16.0,0.00 out of 5,"Jul 27, 2018",\n trail conditions\n,Chilean Memorial,https://www.wta.org/go-hiking/trip-reports/tri...,2018-07-30.1427497356,2018,27,07,2018-07-27
1,16.0,0.00 out of 5,"Jul 13, 2018",\n trail conditions\n,Chilean Memorial,https://www.wta.org/go-hiking/trip-reports/tri...,2018-07-16.2651744039,2018,13,07,2018-07-13
2,16.0,0.00 out of 5,"Apr 25, 2018",\n trail conditions\n,Chilean Memorial,https://www.wta.org/go-hiking/trip-reports/tri...,2018-05-14.6987536999,2018,25,04,2018-04-25
3,16.0,0.00 out of 5,"Jul 22, 2017",,Chilean Memorial,https://www.wta.org/go-hiking/trip-reports/tri...,2017-07-31.8350128985,2017,22,07,2017-07-22
4,16.0,0.00 out of 5,"Jul 21, 2017",\n trail conditions\n,Chilean Memorial,https://www.wta.org/go-hiking/trip-reports/tri...,2017-07-24.2695819350,2017,21,07,2017-07-21

In [102]:
df2 = pd.merge(df,seattle_weather,on='timestamp')
df2.head()

,num_reports,rating,report_date,trail_condition,trail_name,url,url_id,year,day,month,timestamp,Sea_Temp-Max,Sea_Temp-Min,Sea_Temp-Avg,Sea_Departure,Sea_HDD,Sea_CDD,Sea_Precipitation,Sea_New_Snow,Sea_Snow_Depth
0,16.0,0.00 out of 5,"Jul 27, 2018",\n trail conditions\n,Chilean Memorial,https://www.wta.org/go-hiking/trip-reports/tri...,2018-07-30.1427497356,2018,27,07,2018-07-27,88,57,72.5,5.6,0,8,0.00,0.0,0
1,16.0,0.00 out of 5,"Jul 27, 2018",trail conditions,Chilean Memorial,https://www.wta.org/go-hiking/trip-reports/tri...,2018-07-30.1427497356,2018,27,07,2018-07-27,88,57,72.5,5.6,0,8,0.00,0.0,0
2,16.0,0.00 out of 5,"Jul 27, 2018",trail conditions,Chilean Memorial,https://www.wta.org/go-hiking/trip-reports/tri...,2018-07-30.1427497356,2018,27,07,2018-07-27,88,57,72.5,5.6,0,8,0.00,0.0,0
3,117.0,4.05 out of 5,"Jul 27, 2018",trail conditions,Rialto Beach and Hole-in-the-Wall,https://www.wta.org/go-hiking/trip-reports/tri...,2018-07-30.1427497356,2018,27,07,2018-07-27,88,57,72.5,5.6,0,8,0.00,0.0,0
4,99.0,4.36 out of 5,"Jul 27, 2018",,Second Beach,https://www.wta.org/go-hiking/trip-reports/tri...,2018-07-31.0664031831,2018,27,07,2018-07-27,88,57,72.5,5.6,0,8,0.00,0.0,0

In [106]:
df3 = pd.merge(df2,local_weather,on='timestamp')
df3.head()

,num_reports,rating,report_date,trail_condition,trail_name,url,url_id,year,day,month,...,Sea_Snow_Depth,Quil_Temp-Max,Quil_Temp-Min,Quil_Temp-Avg,Quil_Departure,Quil_HDD,Quil_CDD,Quil_Precipitation,Quil_New_Snow,Quil_Snow_Depth
0,16.0,0.00 out of 5,"Jul 27, 2018",\n trail conditions\n,Chilean Memorial,https://www.wta.org/go-hiking/trip-reports/tri...,2018-07-30.1427497356,2018,27,07,...,0,65,51,58.0,-1.8,7,0,0.00,0.0,0
1,16.0,0.00 out of 5,"Jul 27, 2018",trail conditions,Chilean Memorial,https://www.wta.org/go-hiking/trip-reports/tri...,2018-07-30.1427497356,2018,27,07,...,0,65,51,58.0,-1.8,7,0,0.00,0.0,0
2,16.0,0.00 out of 5,"Jul 27, 2018",trail conditions,Chilean Memorial,https://www.wta.org/go-hiking/trip-reports/tri...,2018-07-30.1427497356,2018,27,07,...,0,65,51,58.0,-1.8,7,0,0.00,0.0,0
3,117.0,4.05 out of 5,"Jul 27, 2018",trail conditions,Rialto Beach and Hole-in-the-Wall,https://www.wta.org/go-hiking/trip-reports/tri...,2018-07-30.1427497356,2018,27,07,...,0,65,51,58.0,-1.8,7,0,0.00,0.0,0
4,99.0,4.36 out of 5,"Jul 27, 2018",,Second Beach,https://www.wta.org/go-hiking/trip-reports/tri...,2018-07-31.0664031831,2018,27,07,...,0,65,51,58.0,-1.8,7,0,0.00,0.0,0

In [107]:
with open('mora_trails_and_weather.pickle', 'wb') as to_write:
    pickle.dump(df3, to_write)