## Load DataSets

In [1]:
import pickle
import pandas as pd
import numpy as np
from datetime import datetime

In [33]:
# Import weather data - Cedar Lake - shorter version
with open('cedar_lake_weather_from_2010.pickle','rb') as read_file:
   cedar_weather_short = pickle.load(read_file)

#now, convert the weather data to a dataframe, add column headers, and convert date string to datetime
cedar_weather_short = pd.DataFrame(cedar_weather_short,columns=['timestamp','Ced_Temp-Max','Ced_Temp-Min','Ced_Temp-Avg','Ced_Departure','Ced_HDD','Ced_CDD'
                                              ,'Ced_Precipitation','Ced_New_Snow','Ced_Snow_Depth'])

cedar_weather_short.head()

,timestamp,Ced_Temp-Max,Ced_Temp-Min,Ced_Temp-Avg,Ced_Departure,Ced_HDD,Ced_CDD,Ced_Precipitation,Ced_New_Snow,Ced_Snow_Depth
0,2010-01-01,40,31,35.5,1.0,29,0,0.71,0.0,0
1,2010-01-02,43,37,40.0,5.4,25,0,1.57,0.0,0
2,2010-01-03,42,34,38.0,3.3,27,0,0.37,0.0,0
3,2010-01-04,44,34,39.0,4.2,26,0,0.19,0.0,0
4,2010-01-05,41,38,39.5,4.7,25,0,1.46,0.0,0

In [34]:
# Import weather data - Seattle 
with open('seattle_weather_2010_to_2019.pickle','rb') as read_file:
   seattle_weather = pickle.load(read_file)

#now, convert the weather data to a dataframe, add column headers, and convert date string to datetime
seattle_weather = pd.DataFrame(seattle_weather,columns=['timestamp','Sea_Temp-Max','Sea_Temp-Min','Sea_Temp-Avg','Sea_Departure','Sea_HDD','Sea_CDD'
                                              ,'Sea_Precipitation','Sea_New_Snow','Sea_Snow_Depth'])

seattle_weather.head()

,timestamp,Sea_Temp-Max,Sea_Temp-Min,Sea_Temp-Avg,Sea_Departure,Sea_HDD,Sea_CDD,Sea_Precipitation,Sea_New_Snow,Sea_Snow_Depth
0,2010-01-01,52,45,48.5,7.7,16,0,0.40,0.0,0
1,2010-01-02,47,43,45.0,4.1,20,0,0.06,0.0,0
2,2010-01-03,48,39,43.5,2.5,21,0,0.03,0.0,0
3,2010-01-04,49,44,46.5,5.4,18,0,0.98,0.0,0
4,2010-01-05,50,44,47.0,5.8,18,0,0.14,0.0,0

In [21]:
seattle_weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3318 entries, 0 to 3317
Data columns (total 10 columns):
timestamp            3318 non-null object
Sea_Temp-Max         3318 non-null object
Sea_Temp-Min         3318 non-null object
Sea_Temp-Avg         3318 non-null object
Sea_Departure        3318 non-null object
Sea_HDD              3318 non-null object
Sea_CDD              3318 non-null object
Sea_Precipitation    3318 non-null object
Sea_New_Snow         3318 non-null object
Sea_Snow_Depth       3318 non-null object
dtypes: object(10)
memory usage: 259.3+ KB

In [35]:
# Import trail data
with open('rattlesnake.pickle', 'rb') as read_file:
    df = pickle.load(read_file)
    
df.head()

,num_reports,rating,report_date,trail_condition,trail_name,url,url_id
0,1609.0,4.04 out of 5,"Jan 15, 2019",,Rattlesnake Ledge,https://www.wta.org/go-hiking/trip-reports/tri...,2019-01-15.5096165326
1,1609.0,4.04 out of 5,"Jan 14, 2019",trail conditions,Rattlesnake Ledge,,
2,1609.0,4.04 out of 5,"Jan 13, 2019",trail conditions,Rattlesnake Ledge,https://www.wta.org/go-hiking/trip-reports/tri...,2019-01-14.2472512742
3,1609.0,4.04 out of 5,"Jan 13, 2019",trail conditions,Rattlesnake Ledge,https://www.wta.org/go-hiking/trip-reports/tri...,2019-01-14.3324252644
4,1609.0,4.04 out of 5,"Jan 13, 2019",trail conditions,Rattlesnake Ledge,https://www.wta.org/go-hiking/trip-reports/tri...,2019-01-13.3595233956

## Merge Weather DataSets into Trails DataSet

### Convert timestamp on trails into weather data format. 
2015-01-01
Year - Month - Day (string)

In [36]:
df['year'] = df['report_date'].apply(lambda report_date: report_date[-4:])

In [37]:
df['day'] = df['report_date'].apply(lambda report_date: report_date[-8:-6])

In [38]:
df['month'] = df['report_date'].apply(lambda report_date: report_date[:3])

months_dict = {'Jan':'01', 'Feb':'02', 'Mar':'03', 
               'Apr':'04', 'May':'05', 'Jun':'06',
               'Jul':'07', 'Aug':'08', 'Sep':'09',
               'Oct':'10', 'Nov':'11', 'Dec':'12'}

df['month']= df['month'].map(months_dict)

In [39]:
df['timestamp'] = df['year'] + '-' + df['month'] + '-' + df['day']
df.head()

,num_reports,rating,report_date,trail_condition,trail_name,url,url_id,year,day,month,timestamp
0,1609.0,4.04 out of 5,"Jan 15, 2019",,Rattlesnake Ledge,https://www.wta.org/go-hiking/trip-reports/tri...,2019-01-15.5096165326,2019,15,01,2019-01-15
1,1609.0,4.04 out of 5,"Jan 14, 2019",trail conditions,Rattlesnake Ledge,,,2019,14,01,2019-01-14
2,1609.0,4.04 out of 5,"Jan 13, 2019",trail conditions,Rattlesnake Ledge,https://www.wta.org/go-hiking/trip-reports/tri...,2019-01-14.2472512742,2019,13,01,2019-01-13
3,1609.0,4.04 out of 5,"Jan 13, 2019",trail conditions,Rattlesnake Ledge,https://www.wta.org/go-hiking/trip-reports/tri...,2019-01-14.3324252644,2019,13,01,2019-01-13
4,1609.0,4.04 out of 5,"Jan 13, 2019",trail conditions,Rattlesnake Ledge,https://www.wta.org/go-hiking/trip-reports/tri...,2019-01-13.3595233956,2019,13,01,2019-01-13

In [40]:
df['year'].value_counts()

2016    336
2017    296
2018    284
2015    173
2014    136
2013    114
2012     69
2011     52
2010     23
2009     21
2019     17
2006     16
2003     15
2008     13
2004     11
2007      8
2000      7
2005      5
1998      4
2001      4
1999      3
2002      2
Name: year, dtype: int64

In [41]:
df2 = pd.merge(df,seattle_weather,on='timestamp')
df2.head()

,num_reports,rating,report_date,trail_condition,trail_name,url,url_id,year,day,month,timestamp,Sea_Temp-Max,Sea_Temp-Min,Sea_Temp-Avg,Sea_Departure,Sea_HDD,Sea_CDD,Sea_Precipitation,Sea_New_Snow,Sea_Snow_Depth
0,1609.0,4.04 out of 5,"Jan 15, 2019",,Rattlesnake Ledge,https://www.wta.org/go-hiking/trip-reports/tri...,2019-01-15.5096165326,2019,15,01,2019-01-15,47,31,39.0,-3.1,26,0,0.00,0.0,0
1,1609.0,4.04 out of 5,"Jan 14, 2019",trail conditions,Rattlesnake Ledge,,,2019,14,01,2019-01-14,51,35,43.0,1.0,22,0,0.00,0.0,0
2,1609.0,4.04 out of 5,"Jan 13, 2019",trail conditions,Rattlesnake Ledge,https://www.wta.org/go-hiking/trip-reports/tri...,2019-01-14.2472512742,2019,13,01,2019-01-13,56,37,46.5,4.5,18,0,0.00,0.0,0
3,1609.0,4.04 out of 5,"Jan 13, 2019",trail conditions,Rattlesnake Ledge,https://www.wta.org/go-hiking/trip-reports/tri...,2019-01-14.3324252644,2019,13,01,2019-01-13,56,37,46.5,4.5,18,0,0.00,0.0,0
4,1609.0,4.04 out of 5,"Jan 13, 2019",trail conditions,Rattlesnake Ledge,https://www.wta.org/go-hiking/trip-reports/tri...,2019-01-13.3595233956,2019,13,01,2019-01-13,56,37,46.5,4.5,18,0,0.00,0.0,0

In [42]:
df3 = pd.merge(df2,cedar_weather_short,on='timestamp')
df3.head()

,num_reports,rating,report_date,trail_condition,trail_name,url,url_id,year,day,month,...,Sea_Snow_Depth,Ced_Temp-Max,Ced_Temp-Min,Ced_Temp-Avg,Ced_Departure,Ced_HDD,Ced_CDD,Ced_Precipitation,Ced_New_Snow,Ced_Snow_Depth
0,1609.0,4.04 out of 5,"Jan 15, 2019",,Rattlesnake Ledge,https://www.wta.org/go-hiking/trip-reports/tri...,2019-01-15.5096165326,2019,15,01,...,0,47,35,41.0,5.3,24,0,0.00,0.0,0
1,1609.0,4.04 out of 5,"Jan 14, 2019",trail conditions,Rattlesnake Ledge,,,2019,14,01,...,0,50,42,46.0,10.3,19,0,0.00,0.0,0
2,1609.0,4.04 out of 5,"Jan 13, 2019",trail conditions,Rattlesnake Ledge,https://www.wta.org/go-hiking/trip-reports/tri...,2019-01-14.2472512742,2019,13,01,...,0,47,42,44.5,8.9,20,0,0.00,0.0,0
3,1609.0,4.04 out of 5,"Jan 13, 2019",trail conditions,Rattlesnake Ledge,https://www.wta.org/go-hiking/trip-reports/tri...,2019-01-14.3324252644,2019,13,01,...,0,47,42,44.5,8.9,20,0,0.00,0.0,0
4,1609.0,4.04 out of 5,"Jan 13, 2019",trail conditions,Rattlesnake Ledge,https://www.wta.org/go-hiking/trip-reports/tri...,2019-01-13.3595233956,2019,13,01,...,0,47,42,44.5,8.9,20,0,0.00,0.0,0

In [43]:
with open('rattlesnake_trails_and_weather.pickle', 'wb') as to_write:
    pickle.dump(df3, to_write)